@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap");
@import url("https://fonts.cdnfonts.com/css/futura-pt");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #ffffff;
}
.flex-c {
  display: flex;
  justify-content: center;
  align-items: center;
}
body {
  width: 100vw;
  height: 1265px;
  background: #110a1d;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Lexend", sans-serif;
}
.mask__area {
  position: absolute;
  width: 226.46px;
  height: 1302.47px;
  left: 184.26px;
  background: -webkit-linear-gradient(180deg, #478bf9 0%, rgba(71, 139, 249, 0.4) 100%);
  background: linear-gradient(180deg, #478bf9 0%, rgba(71, 139, 249, 0.4) 100%);
  opacity: 0.55;
  -webkit-filter: blur(150px);
  filter: blur(150px);
  transform: rotate(-54.31deg);
}
.mask__circle {
  position: absolute;
  width: 574px;
  height: 574px;
  left: calc(50% - 574px / 2 + 832px);
  top: 682px;
  background: -webkit-linear-gradient(255.96deg, #478bf9 0%, #9dadf2 100%);
  background: linear-gradient(255.96deg, #478bf9 0%, #9dadf2 100%);
  opacity: 0.7;
  filter: blur(325px);
}
.header {
  width: 1640px;
  height: 96px;
  padding: 24px 48px;
  margin-top: 16px;
  border-radius: 64px;
  border: 4px solid #478bf9;
  background: #110a1d;
  display: flex;
  justify-content: space-between;
}
.header__img {
  width: 287px;
  height: 32px;
}
.navbar {
  width: 588px;
  height: 36px;
  padding: 8px;
  gap: 32px;
  display: flex;
  justify-content: space-between;
}
.navbar__link,
.navbar-footer__link {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  text-decoration: none;
}

.buttons {
  width: 287px;
  height: 48px;
  gap: 14px;
  display: flex;
}
.language {
  width: 75px;
  flex-direction: row;
}
.language,
.login {
  width: 87px;
  height: 48px;
  gap: 8px;
  border-radius: 24px;
  background: #110a1d;
  border: 2px solid #9dadf2;
  cursor: pointer;
}
.language__link {
  width: 47px;
  gap: 8px;
  text-decoration: none;
  display: flex;
  align-items: center;
}
.signup {
  width: 97px;
  height: 48px;
  gap: 8px;
  border-radius: 24px;
  background: #478bf9;
  border: none;
  cursor: pointer;
}
.language__text,
.login__text,
.signup__text {
  width: 23px;
  height: 20px;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
}
.language__svg {
  width: 16px;
  height: 16px;
}
.login__text {
  width: 59px;
  height: 20px;
}
.signup__text {
  width: 69px;
  height: 20px;
}
.main {
  width: 100vw;
  height: 960px;
  flex-direction: row;
}
.mask {
  width: 100vw;
  height: 1100px;
  left: 0px;
  right: 0px;
  top: 112px;
  position: absolute;
  overflow: hidden;
  z-index: -1;
}
.partnership {
  width: 669px;
  height: 368px;
  gap: 48px;
  display: flex;
  flex-direction: column;
}
.partnership__box {
  width: 669px;
  height: 248px;
  gap: 24px;
  display: flex;
  flex-direction: column;
}
.partnership__title {
  width: 669px;
  height: 192px;
  text-transform: uppercase;
  font-size: 96px;
  font-weight: 500;
  line-height: 96px;
  text-align: left;
}
.partnership__title_blue {
  color: #478bf9;
}
.partnership__text {
  width: 669px;
  height: 32px;
  font-size: 32px;
  font-weight: 500;
  line-height: 32px;
  text-align: left;
  color: #ffffff99;
}
.partnership__button {
  width: 393px;
  height: 72px;
  padding: 20px 72px;
  gap: 8px;
  border-radius: 48px;
  background: #478bf9;
  border: none;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  z-index: 2;
}
.blog {
  width: 531px;
  height: 659px;
  gap: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.blog__title {
  width: 115px;
  height: 40px;
  font-size: 40px;
  font-weight: 600;
  line-height: 40px;
  text-align: left;
  text-transform: uppercase;
}
.banner {
  width: 333.8px;
  height: 1026px;
  margin: 0 64.2px 0 42px;
  display: flex;
  justify-content: space-between;
  align-self: flex-start;
}
.banner__container {
  will-change: transform;
  width: 100px;
  height: 1026px;
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  user-select: none;
  gap: 20px;
}
.banner__items {
  will-change: transform;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 20px;
  counter-reset: item;
}
.banner__item {
  width: 100px;
  height: 100px;
  flex: 0 0 auto;
  margin: 10px 0;
}
.marquee {
  animation: scroll 20s linear infinite;
}
.reverce {
  animation-direction: reverse;
}
.area {
  will-change: transform;
  width: 531px;
  height: 595px;
  border-radius: 100px;
  background: #ffffff1f;
  border: 3px solid #478bf9;
  overflow: hidden;
  position: relative;
}
.area__container {
  width: 467px;
  height: 100%;
  position: relative;
  padding: 24px 0;
  left: 24px;
  gap: 16px;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  scrollbar-width: none;
}
.area__container::-webkit-scrollbar {
  display: none;
}
.area__scrollbar {
  position: absolute;
  width: 8px;
  height: 403px;
  top: 96px;
  left: 507px;
  border-radius: 10px;
  background: #ffffff1f;
}
.area__scrollbar-thumb {
  width: 8px;
  border-radius: 10px;
  background: #478bf9;
  position: relative;
}
.area__item {
  width: 467px;
  height: 146px;
  padding: 16px 64px;
  border-radius: 196px;
  background: #1e1231;
}

.area__link,
.login__link,
.signup__link {
  display: block;
  color: inherit;
  text-decoration: none;
}
.area__textbox {
  width: 339px;
  height: 114px;
  gap: 14px;
  display: flex;
  flex-direction: column;
}
.area__title {
  width: 339px;
  height: 84px;
  font-size: 24px;
  font-weight: 400;
  line-height: 28px;
  text-align: left;
}
.area__date {
  width: 70px;
  height: 16px;
  font-family: "Futura PT", sans-serif;
  font-size: 14px;
  font-weight: 450;
  line-height: 16px;
  text-align: left;
  color: #ffffff99;
}
.footer {
  width: 100vw;
  height: 130px;
  padding: 40px 140px 24px 140px;
  gap: 32px;
  border-radius: 64px 64px 0px 0px;
  border: 4px solid #478bf9;
  background: #1e1231;
  border-bottom: none;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 66px;
}
.navbar-footer {
  width: 600px;
  height: 20px;
  gap: 40px;
  display: flex;
}
.navbar-footer__link {
  text-align: center;
  z-index: 2;
}
.socials-area {
  width: 312px;
  height: 66px;
  gap: 14px;
  display: flex;
  flex-direction: column;
}
.socials-area__title {
  width: 312px;
  height: 20px;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: right;
}
.socials-area__box {
  width: 312px;
  height: 32px;
  gap: 8px;
  display: flex;
}
.socials-area__link,
.socials-area__link svg {
  width: 32px;
  height: 32px;
  z-index: 5;
}
.socials-area__link_hover {
  fill: #478bf9;
}
.horizontal,
.buttons-small {
  display: none;
}
.vertical {
  height: 200px;
}
@keyframes scroll {
  from {
    transform: translateY(calc(-100% - 20px));
  }
  to {
    transform: translateY(0%);
  }
}
@media (hover: hover) {
  .navbar__link:hover,
  .navbar-footer__link:hover {
    text-decoration: underline;
    color: #478bf9;
  }
  .area__item:hover {
    background: #478bf9;
  }
  .socials-area__link:hover svg use {
    fill: url(#gradient);
  }
}

@media screen and (max-width: 1650px) {
  body {
    height: 1200px;
  }
  .header {
    width: 90%;
    height: 56px;
    margin-top: 10px;
    padding: 10px 14px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 2px solid #478bf9;
    background: #110a1d;
  }
  .header__img {
    width: 54px;
    height: auto;
    object-fit: contain;
  }
  .open,
  .buttons-small {
    display: flex !important;
  }
  .close {
    display: none;
  }
  .navbar {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 96px;
    z-index: 50;
    left: calc((100% - 300px) / 2);
    overflow-y: auto;
    position: absolute;
    width: 300px;
    height: 325px;
    gap: 5px;
    padding: 0;
  }
  .navbar__link {
    width: 300px;
    height: 50px;
    padding: 13px 20px;
    gap: 8px;
    border-radius: 28px;
    border: 2px solid #478bf9;
  }
  .buttons {
    height: 97px;
    gap: 5px;
    flex-direction: column;
    z-index: 50;
    position: absolute;
    width: 300px;
    top: 451px;
    left: calc((100% - 300px) / 2);
  }
  .login,
  .signup {
    width: 300px;
  }
  .language-area,
  .burger,
  .cross {
    width: 36px;
    height: 36px;
    background: #110a1d;
    border: none;
    cursor: pointer;
  }
  .language-area svg,
  .burger svg,
  .cross svg {
    width: 36px;
    height: 36px;
  }
  .buttons-small {
    width: 76px;
    height: 36px;
    gap: 4px;
    display: flex;
  }
  .partnership {
    width: 300px;
    height: 241px;
    gap: 24px;
  }
  .partnership__box {
    width: 300px;
    height: 164px;
    gap: 12px;
  }
  .partnership__title {
    width: 300px;
    height: 100px;
    font-size: 46px;
    line-height: 50px;
    text-align: center;
  }
  .partnership__text {
    width: 300px;
    height: 52px;
    font-size: 20px;
    line-height: 26px;
    text-align: center;
  }
  .partnership__button {
    width: 300px;
    height: 53px;
    padding: 15px 20px;
    font-size: 18px;
    line-height: 22.5px;
  }
  .blog {
    width: 300px;
    height: 479px;
    gap: 18px;
  }
  .blog__title {
    width: 92px;
    font-size: 32px;
  }
  .area {
    width: 300px;
    height: 421px;
    border-radius: 50px;
    border: 2px solid #478bf9;
  }
  .area__container {
    width: 274px;
    left: 10px;
    gap: 10px;
    padding: 10px 0;
  }
  .area__item {
    width: 274px;
    height: 112px;
    padding: 15px 35px;
    border-radius: 40px;
  }
  .area__textbox {
    width: 204px;
    height: 82px;
  }
  .area__title {
    width: 204px;
    height: 60px;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
  }
  .area__scrollbar {
    width: 4px;
    height: 301px;
    top: 60px;
    left: 290px;
    border-radius: 4px;
  }
  .area__scrollbar-thumb {
    width: 4px;
    height: 77.68px;
  }
  .language,
  .login,
  .signup,
  .navbar,
  .buttons,
  .cross {
    display: none;
  }
}
@media screen and (max-width: 1250px) {
  body {
    height: 1438px;
  }
  .mask {
    width: 100vw;
    height: 1438px;
    top: 0;
  }
  .mask__area {
    width: 81.08px;
    height: 466.33px;
    left: -69.15px;
    top: 22.57px;
    filter: blur(39.7346px);
  }
  .mask__circle {
    width: 240px;
    height: 240px;
    left: 177px;
    top: 833px;
    filter: blur(135.889px);
  }
  .header {
    width: 93.75%;
  }
  .main {
    height: 1090px;
    flex-direction: column;
  }
  .banner {
    width: 100vw;
    height: 165px;
    margin: 30px 0;
    flex-direction: column;
    align-self: auto;
  }
  .banner__container {
    width: 100vw;
    height: 50px;
    flex-direction: row;
    align-items: center;
  }
  .banner__items {
    min-width: 100%;
    flex-direction: row;
  }
  .banner__item {
    flex: 0 0 auto;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .marquee {
    animation: scroll 20s linear infinite;
  }
  .reverce {
    animation-direction: reverse;
  }
  .footer {
    height: 233px;
    padding: 20px;
    gap: 15px;
    margin: 0;
    position: absolute;
    top: 1205px;
    border-radius: 50px 50px 0px 0px;
    border: 2px solid #478bf9;
    border-bottom: none;
    flex-direction: column;
    align-items: center;
  }
  .navbar-footer {
    width: 280px;
    height: 108px;
    gap: 2px;
    flex-direction: column;
    align-items: flex-start;
  }
  .socials-area__link,
  .socials-area__link svg {
    width: 27px;
    height: 27px;
  }
  .socials-area {
    width: 280px;
    height: 55px;
    gap: 8px;
  }
  .socials-area__title {
    width: 118px;
    font-size: 14px;
    line-height: 20px;
    text-align: left;
  }
  .socials-area__box {
    width: 272px;
    height: 27px;
    gap: 8px;
  }
  .horizontal {
    display: flex;
    width: 100px;
    height: 50px;
  }
  .vertical {
    display: none;
  }
  @keyframes scroll {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(calc(-100% - 20px));
    }
  }
}
